<!--post.text|safe enables html output and displays Images-->

{% extends 'base.html' %}

{% block content %}
    <div class="card">
              <div class="w3-container w3-grey">
                <h3>Send A Message</h3>
              </div>

      <form class="w3-container" method="post" action="/email/send/">{% csrf_token %}
        <p>
          <label class="w3-text-black"><b>First Name</b></label>
          <input name="firstname" maxlength="100" class="w3-input w3-border w3-grey" class="required" type="text"></p>
        <p>
          <label class="w3-text-black"><b>Last Name</b></label>
          <input name="lastname" maxlength="100"class="w3-input w3-border w3-grey" class="required" type="text"></p>
        <p>
	        <label class="w3-text-black"><b>Email Address</b></label>
          <input name="email" maxlength="100" class="w3-input w3-border w3-grey" class="required" type="text"></p>
  	    <p>
	        <label class="w3-text-black"><b>Subject</b></label>
          <input name="subject" maxlength="100" class="w3-input w3-border w3-grey" class="required" type="text"></p>
        <p>
	        <label class="w3-text-black"><b>Message</b></label>
          <textarea name="message" class="w3-input w3-border w3-grey" maxlength="255" class="required" type="text"></textarea></p>
        <p>
	        <label class="w3-text-black"><b>Enter "yes" to confirm</b></label>
          <input name="botcheck" maxlength="5" size="5" class="w3-input w3-border w3-grey" type="text"></p>

           <button type="submit" name="submitform" class="w3-btn w3-grey" style="font-weight: bold">Send</button></p>
      </form>
  </div>

{% endblock content %}
