<!--{% if query %}&q={{ query }}{% endif %} this ensures that the search stays even if you move pages-->
<!--so if a user enters something in search and moves to another page on the pagination links-->
<!--it ensures the search stays in the box-->

<div class="w3-bar">
{% if items.has_other_pages %}

      {% if items.has_previous %}

            <a href="?page={{ items.previous_page_number }}{% if query %}&q={{ query }}{% endif %}" class="w3-button">&laquo;</a>
      {% else %}
            <a class="w3-button">&laquo;</a>
      {% endif %}

      {% for i in page_range %}
      {% if items.number == i %}
                <a href="#" class="w3-button">{{ i }}</a>
      {% else %}
                <a href="?page={{ i }}{% if query %}&q={{ query }}{% endif %}" class="w3-button">{{ i }}</a>
      {% endif %}
      {% endfor %}

      {% if items.has_next %}
                <a href="?page={{ items.next_page_number }}{% if query %}&q={{ query }}{% endif %}" class="w3-button">&raquo;</a>
      {% else %}
                <a class="w3-button">&raquo;</a>
      {% endif %}

{% endif %}
</div>
