<!--post.text|safe enables html output and displays Images-->

{% extends 'base.html' %}

{% block content %}
  <div class="card">
    <div class="w3-container w3-grey">
      <h3>Contact Us - Thank You</h3>
    </div>
      <p>Your email was sent and I will get back to you as soon as I can.</p>
      <p>Return to home page... <a class="w3-ul" href="/">CLICK HERE</a></p>
  </div>
{% endblock content %}
