<!--post.text|safe enables html output and displays Images-->

{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
  <div class="card">
      <div class="w3-container w3-grey">
        <h3>The Mission</h3>
      </div>
      <p>
    If you've ever thought about getting into Astrophotography, just love looking at the images, or you want to understand more about Astronomy, Sci-Fi, Technology or just want something different to read, then this one is for you.<P>
  </div>

  <div class="card">
      <div class="w3-container w3-grey">
        <h3>About Me</h3>
      </div>
      <p>
    <img class="w3-round" src="{% static 'images/me.jpg' %}" height="150" width=120 style="float: left; margin-right: 15px"/></a>
        I'm an amateur Astrophotographer from Bristol who loves Snowboarding, Skating, Coding, Podcasts, Sci-Fi and Popular Science.
          I would like to end by thanking my girlfriend, friends and family for all of their help and support.<p>
              <p>
        <div class="w3-xxxlarge">
          <a href="https://www.facebook.com/mcheetham" target="_blank"><i class="fab fa-facebook w3-hover-opacity"></i></a>
          <a href="https://www.instagram.com/mgcheetham" target="_blank"><i class="fab fa-instagram w3-hover-opacity"></i></a>
          <a href="https://www.linkedin.com/in/mgcheetham" target="_blank"><i class="fab fa-linkedin w3-hover-opacity"></i></a>
          <br/>
          <br/>
        </div>
 </div>
<p>

  <div class="card">
      <div class="w3-container w3-grey">
        <h3>Updates</h3>
      </div>
      <p>
        <div class="w3-container">
        <div class="w3-responsive">
        <table class="w3-table-all">
        <tr>
          <th>Date</th>
          <th>Update</th>
        </tr>

        <tr>
          <td>10.06.2018</td>
          <td>I've finally gotten around to revamping the website and making it more responsive to mobile and tablet devices. I've also added in some extra pages and changed the color scheme.</td>
        </tr>

        <tr>
          <td>09.01.2018</td>
          <td>After an extended absense I've gotten around to updating the blog post list and adding in some extra visual aides.</td>
        </tr>

        <tr>
          <td>19.10.2017</td>
          <td>I've updated the blog list view to include images, added in a tagline and made some other minor alterations. I've also migrated the version control over to bitbucket.</td>
        </tr>

        <tr>
          <td>07.03.2017</td>
          <td>This site is my first major project as a developer and i'll continue to maintain and develop it further as I'm learning new skills. The next challenge is to make the site more user and mobile friendly with javascript, bootstrap and CSS.<p>
            If you would like to contribute in any way then please get in touch on either on instagram / twitter or send me an email through on the contact page <a class="w3-ul" href="/email" target="_blank">here</a></td>
        </tr>

        </table>
        </div>
        </div>
  </div>
<p>
{% endblock content %}
