<!--post.text|safe enables html output and displays Images-->

{% extends 'base.html' %}

{% block content %}
<div class="card">
  <div class="w3-container w3-grey">
      <h3>Astro Weather</h3>
    </div>
    <p>
      <iframe src="https://www.meteoblue.com/en/weather/widget/seeing?geoloc=detect&noground=0"  frameborder="0" scrolling="NO" allowtransparency="true" sandbox="allow-same-origin allow-scripts allow-popups allow-popups-to-escape-sandbox" style="width: 520px;height: 754px"></iframe><div><!-- DO NOT REMOVE THIS LINK --><a href="https://www.meteoblue.com/en/weather/forecast/seeing?utm_source=weather_widget&utm_medium=linkus&utm_content=seeing&utm_campaign=Weather%2BWidget" target="_blank">meteoblue</a></div>
    </p>
</div>

<div class="card">
  <div class="w3-container w3-grey">
    <h3>ISS Information</h3>
  </div>
</div>
{% endblock content %}
