{% extends 'base.html' %}

{% block content %}
<div class="card">
    <div class="w3-container w3-grey">
      <h3>{{ category.title }} Category</h3>
    </div>
      <p>
        <h4>Description:</h4><h6>{{ category.description }}</h6>
      <p>
        <a class="w3-ul" href="/">HOME</a>

      </div>

      <div class="card">
          <h4>Posts</h4>
          <p>
            {% for item in post %}
              <a class="w3-ul" href="{% url 'dsblog:post_detail' slug=item.slug %}">{{ item.title }}</a>
              <p>
              Published on {{ item.published_date }}</a>
            <p>
        {% endfor %}
      </div>
{% endblock %}
