<!--post.text|safe enables html output and displays Images-->
<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head>
       <!-- css stylesheet and js links -->
       <meta name="viewport" content="width=device-width, initial-scale=1">
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
       <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
       <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
       <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
       <link rel="stylesheet" href="{% static 'css/blog.css' %}">
       <script src="{% static 'js/w3css.js' %}"></script>
     </head>
  <body>

  <div class="card">
    <div class="w3-container w3-grey">
      <bold><h1>Dark Skies Blog</h1></bold>
    </div>
    <p>
      We want you to feel at home when you post a comment on our site.<p>
      We reserve the right to delete comments and ban users as needed to keep the comment threads here civil and substantive.
      <p>
      <h2>Our No. 1 rule</h2><h4>Please don’t be a jerk.</h4>
      <p>
      <h2>Here’s what we like to see in comments:</h2>
      <p>
      <h3>Weigh in</h3> with smart, informed ideas that contribute further to the story.
      <p>
      <h3>Give us</h3> useful, constructive criticism. Spot a typo or an error? Let us know and we will correct it.
      <p>
      <h3>Demonstrate</h3> and share the intelligence, wisdom, and humor we know you possess.
      <p>
      <h3>Don’t feed the trolls</h3> No not those fuzzy guys. You can however downvote and flag comments instead.
      <p>
        <br>
      <h2>And of course what we don't want to see:</h2>
      <p>
      <h3>Promoting your own brand, product, or blog</h3> We are all for collaboration and promotion as long as it stays relevant.
      <p>
      <h3>Impersonating authors or other commenters</h3> We can’t believe we have to say this, but: Don’t do that. It’s weird.
      <p>
      <h3>Comments that make it clear you didn’t read the article</h3> If skipping to the end is your style, it might not be useful here.
      <p>
      <h3>Comments that are completely out of left field</h3> Sometimes discussions veer off a bit, but are still related to the original subject.
      That is fine. Hijacking the conversation to promote off-topic commentary is not.
      <p>
      <h3>Threats</h3>No matter how vague — against the author or other commenters. Things can get heated.<p>
      Before you casually mention your foe’s home address, think of your Mother Earth. (Bonus points if you never use the phrase “Mother Earth.”)
      <p>
      <h3>Racism, sexism, homophobia, you get the drift</h3> Completely unacceptable anyone will be blocked/banned and reported.
      <p>
      <h3>Trolling</h3> If you’re a climate denier just out for a good trolling and are not contributing meaningfully to the conversation, we’ll be pushing you back under the bridge.


  </div>
  </body>
</html>
