<!--post.text|safe enables html output and displays Images-->

{% extends 'base.html' %}

{% block content %}
<div class="card">
  <div class="w3-container w3-grey">
    <h3>Coin Market Cap</h3>
  </div>
  <p>
    <script type="text/javascript">
    baseUrl = "https://widgets.cryptocompare.com/";
    var scripts = document.getElementsByTagName("script");
    var embedder = scripts[ scripts.length - 1 ];
    var cccTheme = {"General":{"borderColor":"#000"}};
    (function (){
    var appName = encodeURIComponent(window.location.hostname);
    if(appName==""){appName="local";}
    var s = document.createElement("script");
    s.type = "text/javascript";
    s.async = true;
    var theUrl = baseUrl+'serve/v1/coin/multi?fsyms=BTC,ETH,XMR,LTC,DASH,GNT,ZEC&tsyms=GBP,EUR,USD,BTC';
    s.src = theUrl + ( theUrl.indexOf("?") >= 0 ? "&" : "?") + "app=" + appName;
    embedder.parentNode.appendChild(s);
    })();
    </script>
    <p>
      <script type="text/javascript">
      baseUrl = "https://widgets.cryptocompare.com/";
      var scripts = document.getElementsByTagName("script");
      var embedder = scripts[ scripts.length - 1 ];
      var cccTheme = {"General":{"borderWidth":"1px","borderColor":"#000","headerText":"Coin Conversion"},"Form":{"labelFrom":"From","labelTo":"To"}};
      (function (){
        var appName = encodeURIComponent(window.location.hostname);
        if(appName==""){appName="local";}
        var s = document.createElement("script");
        s.type = "text/javascript";
        s.async = true;
        var theUrl = baseUrl+'serve/v1/coin/converter?fsym=BTC&tsyms=GBP,BTC,USD,EUR';
        s.src = theUrl + ( theUrl.indexOf("?") >= 0 ? "&" : "?") + "app=" + appName;
        embedder.parentNode.appendChild(s);
      })();
      </script>
      <p>
</div>
{% endblock content %}
