<!--post.text|safe enables html output and displays Images-->
<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head>
       <!-- css stylesheet and js links -->
       <meta name="viewport" content="width=device-width, initial-scale=1">
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
       <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
       <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
       <link rel="stylesheet" href="{% static 'css/blog.css' %}">
       <script src="{% static 'js/w3css.js' %}"></script>

     </head>

     <body class="w3-light-gray">

        <!-- Page Container -->
        <div class="w3-content w3-margin-top" style="max-width:1200px; min-width:500px">

            <!--Grid Start -->
            <div class="w3-row-padding">

                <!-- Left Column -->
                <div class="w3-third">
                  <div class="w3-card w3-blue-gray w3-padding w3-margin-bottom">
                    <div class="w3-display-container w3-image w3-center w3-padding-32">

                      <!--old image
                      <img src="{% static 'images/me.jpeg' %}" style="width:50%;border-style:solid;border-width:thick" alt="This Is Me..">
                      -->
                      <p><i class="fa fa-user-circle-o fa-5x w3-margin-right w3-text-white w3-mobile"></i></p>

                </div>
                  <h2>Matt Cheetham</h2>

                      <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-white"></i>IT Engineer</p>
                      <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-white"></i>Emersons Green, Bristol, BS16</p>
                      <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-white"></i>matt.cheetham@live.co.uk</p>
                      <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-white"></i>07534350457</p>
                      <hr>

                      <p class="w3-large"><b><i class="fa fa-address-card w3-margin-right w3-text-white"></i>Biography</b></p>
                      A dedicated and progressive individual who continually seeks a personal challenge.
                      <p>Good eye for detail and consistently self-driven to achieve goals.</p>
                      <p>Organised, evaluative and logical thinker and developer, who has excelled in both customer service and technical roles.</p>

                      <hr>

                          <p class="w3-large"><b><i class="fa fa-empire w3-margin-right w3-text-white"></i>Social</b></p>
                          <div class="w3-container">
                            <p><a class="w3-ul" href="https://www.linkedin.com/in/mgcheetham" target="_blank"><i class="fa fa-linkedin-square w3-margin-right w3-large w3-text-white"></i>LinkedIn</a></p>
                            <p><a class="w3-ul" href="https://bitbucket.org/mcheetham/" target="_blank"><i class="fa fa-bitbucket w3-margin-right w3-large w3-text-white"></i>Bitbucket</a></p>
                            <p><a class="w3-ul" href="https://stackoverflow.com/users/7980936/matt-cheetham" target="_blank"><i class="fa fa-stack-overflow w3-margin-right w3-large w3-text-white"></i>Stack-Overflow</a></p>
                            <p><a class="w3-ul" href="https://github.com/mgcheetham" target="_blank"><i class="fa fa-github-square w3-margin-right w3-large w3-text-white"></i>GitHub</a></p>
                          </div>
                  <!-- end of card -->
              </div>

              <!-- start of card -->
              <div class="w3-card w3-blue-gray w3-padding w3-margin-bottom">
                <p class="w3-large"><b><i class="fa fa-commenting w3-margin-right w3-text-white"></i>Feedback</b></p>
              <div class="w3-container">
                  I would really appreciate some feedback on either my CV or suitability for the applied role. If you have two minutes please fill in the short form....

                  <!-- Trigger/Open the Modal -->
                  <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-round-xxl w3-tiny w3-padding-small w3-white w3-text-blue-gray">HERE</button>
                  <!-- The Modal -->
                  <div id="id01" class="w3-modal">
                    <div class="w3-modal-content">
                      <div class="w3-container w3-padding w3-center">
                        <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright w3-blue-gray">&times;</span>
                        <div class="w3-text-blue-gray">
                        <p><h2>Feedback Form</h2></p>

                        <form action="{% url 'form:cv' %}" method="POST">
                            {% csrf_token %}

                            <p>Company Name: <input class="w3-input w3-border" name="company"></P>
                            <p>Position Feedback: <textarea class="w3-input w3-border" name="position_feedback"></textarea></p>
                            <p>CV Feedback: <textarea class="w3-input w3-border" name="cv_feedback"></textarea></p>

                            <p><button class="w3-button w3-blue-gray w3-ripple w3-padding w3-text-white" type="submit" value="Submit" />Send</button>
                        </form>
                        <p></p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- end of container -->
              </div>

              <!-- end of card -->
              </div>

              <div class="w3-card w3-blue-gray w3-padding w3-margin-bottom">
                <p class="w3-large"><b><i class="fa fa-clock-o w3-margin-right w3-text-white"></i>Future Goals</b></p>
                <div class="w3-container">
                  <p>2019 - Learning C#</p>
                  <p>Lynda.com</p>
                  <hr>
                  <p>2019 - Introduction to Cryptography Course</p>
                  <p>Coursera.com</p>
                  <hr>
                  <p>Oct 2018 - BSc Computer Science</p>
                  <p>Open University (Part Time)</p>
                </div>
              </div>

              <div class="w3-card w3-blue-gray w3-padding w3-margin-bottom">
                <p class="w3-large"><b><i class="fa fa-users w3-margin-right w3-text-white"></i>References</b></p>
                <div class="w3-container">
                  References are available on request.
                  <p></p>
                </div>
              </div>
                  <!-- end of left column -->
            </div>

                <!-- Middle Column -->
                <div class="w3-third">
                  <div class="w3-card w3-white w3-padding w3-margin-bottom">

                      <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-blue-gray"></i>Career</h2>
                      <div class="w3-container">
                        <h5 class="w3-text-gray"><b>IT Engineer</b></h5>
                        <h6 class="w3-text-gray"><b>Aviva, York & Bristol</b></h6>
                        <h6 class="w3-text-blue-gray"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan 2014 - <span class="w3-tag w3-blue-gray">Current</span></h6>
                        <ul class="w3-ul w3-small">
                          <li>Played an integral role in building, installing, configuring, and testing over 900 desktops and laptops during the migration from Friends Life to Aviva.</li>
                          <li>Now continually supports ~1000 users, on multiple devices including desktops, laptops, mobiles and tablets. Covering all aspects from account lockouts to complete re-builds of machines. Always multi-tasking and working to user deadlines and company targets. </li>
                          <li>Spearheaded the Join Aviva team, who revolutionised how new joiners are inducted into Aviva. Provided a login account and equipment for them on day one and reduced wait times from weeks to minutes.</li>
                          <li>Received recognition from all levels of the business for pioneering the Service Bar in Bristol. Drove the transition from Friends Life to Aviva, integrating and collaborating with Diligenta to build a homogeneous service.</li>
                          <li>Strong ability to take on multiple projects whilst retaining a high level of service. Experience travelling to other sites to support and improve processes and practices.</li>
                        </ul>
                        <hr>
                      </div>
                      <div class="w3-container">
                        <h5 class="w3-text-gray"><b>Trainee Manager</b></h5>
                        <h6 class="w3-text-gray"><b>CPP, York</b></h6>
                        <h6 class="w3-text-blue-gray"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan 2012 - Jan 2014</h6>
                        <ul class="w3-ul w3-small">
                          <li>Created and planned structured training plans for new starters in the company.</li>
                          <li>Selected to lead the team, gaining innovative management skills and responsibilities.</li>
                          <li>Envisioned and implemented training of the Tech Team and was responsible for helping customers understand how to access their online services.</li>
                          <li>Consistently delivered high-quality customer service, surpassing set goals and targets.</li>
                        </ul>
                        <hr>
                      </div>
                      <div class="w3-container">
                        <h5 class="w3-text-gray"><b>Interim Manager</b></h5>
                        <h6 class="w3-text-gray"><b>Billabong, Manchester</b></h6>
                        <h6 class="w3-text-blue-gray"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jun 2009 - May 2011</h6>
                        <ul class="w3-ul w3-small">
                          <li>Built up the store's identity and presence in and around the Manchester area by connecting with local snowboard, ski, and surf schools. Designed and hosted social events in the store to showcase new ranges and engage with the community.</li>
                          <li>Motivated the team to increase performance and sales by up to 40%</li>
                          <li>Earned recognition and praise for designing the interior of the store by merchandising it to tell stories which incorporated the local culture.</li>
                        </ul>
                        <hr>
                      </div>

                  <!-- end of card -->
                  </div>

                        <div class="w3-card w3-white w3-padding w3-margin-bottom">
                            <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-graduation-cap fa-fw w3-margin-right w3-xxlarge w3-text-blue-gray"></i>Academic</h2>
                            <div class="w3-container">
                              <h5 class="w3-text-gray"><b>Grange Community School</b></h5>
                              <h6 class="w3-text-blue-gray"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Sept 2002 - Jun 2004</h6>
                              <h6 class="w3-text-blue-gray"><i class="fa fa-certificate w3-margin-right"></i>A - Levels</h6>
                              <table class="w3-table w3-bordered">
                                <tr>
                                </tr>
                                <tr>
                                  <td>Business - C</td>
                                  <td>Media - D</td>
                                </tr>
                                <tr>
                                  <td>Computing - C</td>
                                </tr>
                              </table>
                              <hr>
                            </div>
                            <div class="w3-container">
                              <h5 class="w3-text-gray"><b>Grange Community School</b></h5>
                              <h6 class="w3-text-blue-gray"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Sept 1997 - Jun 2004</h6>
                              <h6 class="w3-text-blue-gray"><i class="fa fa-certificate w3-margin-right"></i>GCSE</h6>
                              <table class="w3-table w3-bordered">
                                <tr>
                                </tr>
                                <tr>
                                  <td>Maths - D</td>
                                  <td>English - C</td>
                                </tr>
                                <tr>
                                  <td>Science - C</td>
                                  <td>Business - C</td>
                                </tr>
                                <tr>
                                  <td>Graphic Design - C</td>
                                  <td>French - C</td>
                                </tr>
                                <tr>
                                  <td>History - D</td>
                                </tr>
                              </table>

                            </div>
                        </div>
                  <!-- end of middle column -->
                </div>

                <!-- Right Column -->
                <div class="w3-third">
                  <div class="w3-card w3-blue-gray w3-padding w3-margin-bottom">
                    <p class="w3-large"><b><i class="fa fa-code w3-margin-right w3-text-white"></i>Technical Skills</b></p>
                    <p>Python</p>
                      <div class="w3-grey w3-round-xlarge w3-small">
                          <div class="w3-container w3-center w3-round-xlarge w3-white w3-text-blue-gray w3-animate-opacity" style="width:70%">70%</div>
                      </div>
                    <p>Javascript</p>
                      <div class="w3-grey w3-round-xlarge w3-small">
                          <div class="w3-container w3-center w3-round-xlarge w3-white w3-text-blue-gray w3-animate-opacity" style="width:30%">30%</div>
                      </div>
                    <p>HTML & CSS</p>
                      <div class="w3-grey w3-round-xlarge w3-small">
                          <div class="w3-container w3-center w3-round-xlarge w3-white w3-text-blue-gray w3-animate-opacity" style="width:50%">50%</div>
                      </div>
                    <p>Powershell</p>
                      <div class="w3-grey w3-round-xlarge w3-small">
                          <div class="w3-container w3-center w3-round-xlarge w3-white w3-text-blue-gray w3-animate-opacity" style="width:40%">40%</div>
                      </div>
                    <p>Swift / Xcode</p>
                      <div class="w3-grey w3-round-xlarge w3-small">
                          <div class="w3-container w3-center w3-round-xlarge w3-white w3-text-blue-gray w3-animate-opacity" style="width:20%">30%</div>
                      </div>
                    <p>Mac OSX</p>
                        <div class="w3-grey w3-round-xlarge w3-small">
                            <div class="w3-container w3-center w3-round-xlarge w3-white w3-text-blue-gray w3-animate-opacity" style="width:60%">60%</div>
                        </div>
                    <p>Windows 7/10</p>
                        <div class="w3-grey w3-round-xlarge w3-small">
                            <div class="w3-container w3-center w3-round-xlarge w3-white w3-text-blue-gray w3-animate-opacity" style="width:80%">80%</div>
                          </div>
                          <p></p>
                  <!-- end of card -->
                  </div>
                              <!-- start of card -->
                              <div class="w3-card w3-blue-gray w3-padding w3-margin-bottom">
                                <p class="w3-large"><b><i class="fa fa-star w3-margin-right w3-text-white"></i>Core Strengths</b></p>
                                <div class="w3-container">
                                  <i class="fa fa-laptop w3-margin-right w3-large w3-text-white"></i>IT Experience</a></p>
                                  <i class="fa fa-list-alt w3-margin-right w3-large w3-text-white"></i>Analytical Assessment</a></p>
                                  <i class="fa fa-cogs w3-margin-right w3-large w3-text-white"></i>Critical Thinking</a></p>
                                  <i class="fa fa-hand-spock-o w3-margin-right w3-large w3-text-white"></i>Engagement</a></p>
                                  <i class="fa fa-search w3-margin-right w3-large w3-text-white"></i>Meticulous</a></p>
                                  <i class="fa fa-paint-brush w3-margin-right w3-large w3-text-white"></i>Creative</a></p>
                                  <i class="fa fa-sliders w3-margin-right w3-large w3-text-white"></i>Adaptable</a></p>
                                </div>
                                <!-- end of card -->
                              </div>

                              <!-- start of card -->
                              <div class="w3-card w3-blue-gray w3-padding w3-margin-bottom">
                                <p class="w3-large"><b><i class="fa fa-trophy w3-margin-right w3-text-white"></i>Achievements</b></p>
                                <div class="w3-container">
                                  <h6 class="w3-text-white"><b>Python Course</b></h6>
                                  <h6 class="w3-text-white"><i class="fa fa-certificate w3-margin-right"></i>Coursera</h6>
                                  <p><a class="w3-ul" href="https://www.coursera.org/account/accomplishments/certificate/HPV2533XB9H3" target="_blank">Programming For Everybody</a></p>
                                  <p><a class="w3-ul" href="https://www.coursera.org/account/accomplishments/certificate/QSVR8X7WP3KD" target="_blank">Python Data Structures</a></p>
                                  <p><a class="w3-ul" href="https://www.coursera.org/account/accomplishments/certificate/MNKLU74WNZYK" target="_blank">Python Accessing Web Data</a></p>
                                  <p><a class="w3-ul" href="https://www.coursera.org/account/accomplishments/certificate/89P8RZLQ4Z58" target="_blank">Using Databases with Python</a></p>
                                  <p><a class="w3-ul" href="https://www.coursera.org/account/accomplishments/certificate/X9UQQTFSLE5Z" target="_blank">Capstone: Visualising Data</a></p>
                                  <hr>
                                  <h6 class="w3-text-white"><b>PHP Course</b></h6>
                                  <h6 class="w3-text-white"><i class="fa fa-certificate w3-margin-right"></i>Coursera</h6>
                                  <p><a class="w3-ul" href="https://www.coursera.org/account/accomplishments/certificate/TM8ZFTDBT2BR" target="_blank">Web applications in PHP</a></p>
                                  <hr>
                                  <h6 class="w3-text-white"><b>Project</b></h6>
                                  <h6 class="w3-text-white"><i class="fa fa-certificate w3-margin-right"></i>Blog</h6>
                                  <p><a class="w3-ul" href="http://www.darkskiesblog.co.uk" target="_blank">Dark Skies Blog</a></p>
                                </div>
                                <!-- end of card -->
                              </div>

                              <!-- start of card -->
                              <div class="w3-card w3-blue-gray w3-padding w3-margin-bottom">
                                <p class="w3-large"><b><i class="fa fa-gamepad w3-margin-right w3-text-white"></i>Personal Pursuits</b></p>
                                <div class="w3-container">
                                  <p>Snowboarding</p>
                                  <p>Gaming</p>
                                  <p>Photography</p>
                                  <p>Astronomy</p>
                                  <p>Mountain Biking</p>
                                  <p>Films</P>
                                  <p>Popular Science</p>
                                  <p>Travelling</p>
                                  <p>Podcasts</p>
                                  <p>Blockchain</p>
                                </div>
                                <!-- end of card -->
                              </div>
                  <!-- end of right column -->
                </div>

            <!-- End Grid -->
            </div>

        <!-- End Page Container -->
        </div>
     </body>
</html>
