<!--post.text|safe enables html output and displays Images-->

{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="card">
  <div class="w3-container w3-grey">
    <h1>Astro Images</h1>
  </div>

<div class="w3-row-padding w3-margin-top">
  <div class="w3-third">
    <div class="w3-card">
      <img src="{% static 'images/garden_nightscape.jpg' %}" style="width:100%;cursor:pointer"
    onclick="onClick(this)">
      <div class="w3-container">
        <h5>Garden nightscape</h5>
        One of the very first images I took back In 2016, the foreground Is still too dark but I've removed a lot of the light pollution.
        The ISO is very low because of the urban location where the light pollution was quite heavy.

        <p>Canon EOS 760D</p>
        <p>Sigma 18-35mm Art Lens</p>
        <p>18mm focal length
        <p>F Stop 1.8</p>
        ISO 100
      </div>
    </div>
  </div>

  <div class="w3-third">
    <div class="w3-card">
      <img src="{% static 'images/berneray_beach.jpg' %}" style="width:100%;cursor:pointer"
    onclick="onClick(this)">
      <div class="w3-container">
        <h5>Berneray beach</h5>
        My first trip to Harris in the Outer hebrides produced some incredible scenery, unfortunately there were no clear
        skies that weekend but i did manage to take some amazing day shots. This was one particular favorite, of Bernerary
        beach in the evening.

        <p>Canon EOS 760D</p>
        <p>Sigma 18-35mm Art Lens</p>
        <p>18mm focal length
        <p>F Stop 1.8</p>
        ISO 125
      </div>
    </div>
  </div>

  <div class="w3-third">
    <div class="w3-card">
      <img src="{% static 'images/strond_house.jpg' %}" style="width:100%;cursor:pointer"
    onclick="onClick(this)">
      <div class="w3-container">
        <h5>Harris house</h5>
        Another image i captured was of one of the houses on the main island of Harris. Rugged, remote and absolutely
        stunning. The house felt like it was sat at the edge of the world, as the sheep grazed nearby.

        <p>Canon EOS 760D</p>
        <p>Sigma 18-35mm Art Lens</p>
        <p>18mm focal length
        <p>F Stop 1.8</p>
        ISO 100
      </div>
    </div>
  </div>

</div>
</div>

<div id="modal01" class="w3-modal" onclick="this.style.display='none'">
  <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
  <div class="w3-modal-content w3-animate-zoom">
    <img id="img01" style="width:100%">
  </div>
</div>
{% endblock content %}
