<!--obj.text|safe enables html output and displays Images-->

{% extends 'base.html' %}

{% block content %}

  {% for obj in items %}
        <!--make sure the links to the category detail and post detail match-->
        <!--the app directory templates then the correct template, and slug matches the for loop-->
        <!--also ensure the django template tags relate to the for temp loop in this case obj-->
    <div class="card">
      <div class="postimage">
        <img src= "{{ obj.image.url }}" width=240 height=190 alt="img">
      </div>

        Category: <a id="cat-comm-links" class="w3-ul" href="{% url 'dsblog:category_detail' slug=obj.category.slug %}">{{obj.category}}</a>

      <div class="posttext">
        <h1><a class="w3-ul" href="{% url 'dsblog:post_detail' slug=obj.slug %}">{{obj.title}}</a></h1>
        <p>{{ obj.tagline|safe }}</p>
        {{ obj.published_date }}
        by {{ obj.author.get_full_name }}</p>
                <!--#disqus_thread addon is to provide unique url link to disqus for comments-->
        <a id="cat-comm-links" class="w3-ul" href="{% url 'dsblog:post_detail' slug=obj.slug %}#disqus_thread">Comments</a>
      </div>
    </div>
  {% endfor %}

  <div class="card">
          {% include 'pagination.html' %}
  </div>
{% endblock content %}
