{% extends 'base.html' %}

        <!--as there's no for loop in the post_view function in views-->
        <!--the post. tag just pulls directly from the post variable-->
        <!--and the category slug needs to connect to the post model then-->
        <!--it looks for category variable and finally slug in category -->
{% block content %}
    <div class="card">
        Category: <a id="cat-comm-links" class="w3-ul" href="{% url 'dsblog:category_detail' slug=post.category.slug %}">{{ post.category }}</a>
        <p><a class="w3-ul" href="/">HOME</a></p>

        <h1>{{ post.title }}</h1>
        <p>
        {{ post.published_date }} by {{ post.author.get_full_name }}
        <p>
        {{ post.text|safe }}
        <p>

    </div>

    <div class="card">
      <div class="w3-container w3-grey">
      <h2>Comments</h2>
      </div>

    <div id="disqus_thread"></div>
        <script>

          /**
          *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
          *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
          // this.page.url = 'www.darkskiesblog.co.uk/post/{{ post.slug }}/';  // Replace PAGE_URL with your page's canonical URL variable

          var disqus_config = function () {
          this.page.identifier = '/{{ post.slug }}/'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
          };

          (function() { // DON'T EDIT BELOW THIS LINE
          var d = document, s = d.createElement('script');
          s.src = 'https://thedsblog.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
          })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
{% endblock %}
