* {
    box-sizing: border-box;
}

/* Add a gray background color with some padding */
body {
  font-family: Lato;
    font-size: 14px;
    padding: 20px;
    background: #d9d9d9;
    text-decoration: none;
}

/* centre's the whole site and also creates the max width on large screens */
.content {
    max-width: 1400px;
    margin: auto;
}

/* manual override for underlining links */
/* add to all a href links */
.w3-ul {
  text-decoration: none;
  font-weight: bold;
}

/* changes link color on hover */
a:hover {
  color: #d9d9d9;
}

/* changes link color on hover */
#cat-comm-links {
  color: #70a0be;
}

#cat-comm-links:hover {
  color: #436072;
}

/* Header/Blog Title */
.header {
    padding: 15px;
    font-size: 60px;
    text-align: center;
    background: black;
    color: white;
}

/* sets navigation bar style */
.navbar {
    font-size: 12px;
    background: black;
    color: white;
    margin-top: 20px;
    text-align: center;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
    float: left;
    width: 70%;
}

/* image is floated left of the text in post list */
.postimage {
    float: left;
    padding-right: 40px;
}

/* sets the post list text next to the image */
.posttext {
    display: inline;
}

/* Right column */
.rightcolumn {
    float: left;
    width: 30%;
    padding-left: 20px;
    min-width: 270px;
}

/* Add a card effect for articles */
.card {
     background-color: white;
     padding: 20px;
     margin-top: 20px;
}

/* stops words overflowing */
.wordwrap {
    word-wrap: break-word;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: black;
    margin-top: 20px;
    color: white;
}

/* allows for responsive iframe embedded videos */
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* creates responsive images for blog posts */
.responsive {
    max-width: 100%;
    height: auto;
}

/* stops twitter feed overflow */
blockquote.twitter-tweet {
    max-width: 240px;
}

/* re-sizes the icon on my cv page to make it respsonsive */
@media screen and (min-width: 300px) and (max-width: 799px) {
    .fa-user-circle-o {
        font-size: 10em;
    }
}
/* re-sizes the icon on my cv page to make it respsonsive */
@media screen and (min-width: 800px) {
    .fa-user-circle-o {
        font-size: 15em;
    }
}

/* Responsive layout for main site - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }
}
